<h1>Añadir coches</h1>
<div>
    <input type="text" placeholder="Marca">
    <input type="text" placeholder="Modelo">
    <input type="text" placeholder="Matricula">
    <input type="text" placeholder="Color">
    <input type="submit" placeholder="Enviar" name="">
</div>