<h1>MyApp</h1>
<p>Esta es mi pagina principal</p>
<h2>Bienvenido</h2>

<div>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/annadircoches">Añadir Coches</a>
    <a href="/list">Listar Coches</a>
</div>